article {
    background:  #fcfbfc;
}
header {
    width:100%;
    background-color:#e4f4fd;
    border: 3px #7fa0fb solid;
}
.main {
  margin-left:60px;
  margin-right:90px;
}
.sources {
  margin-left:10px;
  margin-right:10px;
  background-color:#e1ccfc;
  border: 3px solid 	#ae86d8;
  position:relative;
  font-family:Arial;
  float:left;

}
img {
  float:right;
  border: 3px solid 	#57bead;
  border-spacing: 2px;
  position:relative;
  margin:0px 20px 30px 20px;
}
p {
  font-family:Arial;
}
h1 {
  text-align:center;
  font-family: fantasy;
}
h2 {
  text-align:center;
  font-family:fantasy;
}
a {
  text-decoration:none;
  color:#13b97f;
